{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{%static 'css/about_page.css' %}">
</head>

<body>
    <div class="about-section">
        <h1>About Us</h1>
        <h3>The developers team behind the Website</h3>
        <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="{%static 'images/Mor.jpg' %}" alt="Mor" style="width:100%">
                <div class="container">
                    <h2>Mor Bar</h2>
                    <p class="title">Front </p>
                    <p>Software engineering student, second year, with basic knowledge of C, C++, Phyton, html, css
                        and hopefully more later. "I made a huge to-do list for today, I just cant figure out who's
                        going to do it"</p>
                    <p>morba1@ac.sce.ac.il</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{%static 'images/Achva.jpg' %}" alt="Achva" style="width:100%">
                <div class="container">
                    <h2>Achva Skuri</h2>
                    <p class="title">Front End Developer</p>
                    <p>Software engineering student, second year, with basic knowledge of C, C++, Phyton, excel
                        html and css. "I love life, but hates everyone..pff"
                    </p>
                    <p>achvask@ac.sce.ac.il</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{%static 'images/Eshed.jpg' %}" alt="Eshed" style="width:100%">
                <div class="container">
                    <h2>Eshed Sorotsky</h2>
                    <p class="title">Back End Developer</p>
                    <p>Software engineering student, second year, with knowledge of multiple languages, graduate of the
                        "magshimim" program and automation developer at "Siemens"
                        "The average dog is a nicer person than the average person."</p>
                    <p>eshedso@ac.sce.ac.il</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{%static 'images/yarden.jpg' %}" alt="Yarden" style="width:100%">
                <div class="container">
                    <h2>Yarden Dali</h2>
                    <p class="title">Back End Developer</p>
                    <p>Software engineering student, second year, with basic knowledge of C, C++, Phyton, html, css. "Im
                        not weird, im limited edition"</p>
                    <p>yardeda2@ac.sce.ac.il</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>