{%load static%}
<!DOCTYPE html>
<!-- ExplorAirm Team -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Homepage</title>
      <link rel="stylesheet" href="{%static 'css/homepage.css' %}">
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
   </head>
   <body>
      <header class="container-fluid">
         <div class="container">
         <div class ="logo">
             <h2>ExplorAir</h2>
         </div>
         <nav>
             <a href="#">Blog</a> |
             <a href="#">Contact</a> |
             <a href="#">About</a> |
             <a href="#">Log out</a>
             <a href="#">&#128270;</a> 
         </nav>                
 </div>
     </header>
      <div class="slider owl-carousel">
         <div class="card">
            <div class="img">
               <img src="{%static 'images/rio.jpg' %}" alt="">
            </div>
            <div class="content">
               <div class="title">
                  Brazil
               </div>
               <div class="sub-title">
                  Rio De Janeiro
               </div>
               <p>
                  Rio de Janeiro is home to some of the world’s friendliest people and most beautiful beaches. Brazil’s interracial history of Portuguese, Japanese, Indian, and German settlers has created a multicultural society, which has led to festivals and celebrations that are known all over the world

               </p>
               <div class="btn">
                  <button>Read more</button>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="{%static 'images/mexico.jpg' %}" alt="">
            </div>
            <div class="content">
               <div class="title">
                  Peru
               </div>
               <div class="sub-title">
                  Machu Picchu
               </div>
               <p>
                  Machu Picchu, also spelled Machupijchu, site of ancient Inca ruins located about 50 miles (80 km) northwest of Cuzco, Peru, in the Cordillera de Vilcabamba of the Andes Mountains. It is perched above the Urubamba River valley in a narrow saddle between two sharp peaks—Machu Picchu (“Old Peak”) and Huayna Picchu (“New Peak”)—at an elevation of 7,710 feet (2,350 metres)

               </p>
               <div class="btn">
                  <button>Read more</button>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="{%static 'images/paris.jpg' %}" alt="">
            </div>
            <div class="content">
               <div class="title">
                  France
               </div>
               <div class="sub-title">
                  Paris
               </div>
               <p>
                  Ah, Paree, so much to see, so little time. Frankly it’s ridiculous how many great sights there are here… but where to even start? Yeah, alright, probably the Eiffel Tower and the Louvre – but what the hell do you do next? Whether you’re a first-timer or a Paris regular, the same goes – how do you even go about planning a day out here?

               </p>
               <div class="btn">
                  <button>Read more</button>
               </div>
            </div>
         </div>
      </div>
      <script>
         $(".slider").owlCarousel({
           loop: true,
           autoplay: true,
           autoplayTimeout: 2000, //2000ms = 2s;
           autoplayHoverPause: true,
         });
      </script>

     
   </body>
</html>